DATABASE_URL=postgres://bgt:bgt@localhost/daily_cost

BASE_URL=http://localhost

ADMIN_EMAIL=admin@example.com

DJANGO_DEBUG=True

DJANGO_SECRET_KEY=my secret key

DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

MAILGUN_SERVER=mailgun server url

MAILGUN_API_KEY=mailgun api key

DBBACKUP_PATH=/home/bgt/backup/daily_cost/db/
