{% extends 'base.html' %}
{% load static %}

{% block head_title %}Dashboard{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/highcharts/css/highcharts.css' %}"/>
{% endblock %}

{% block bodyclass %}{{ block.super }} page-dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}

            {% if not user.is_confirmed %}
                <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <p>
                        Email not confirmed. Please confirm your account by clicking on the activation link sent to your email.
                        <a href="{% url 'dashboard' %}?resend_confirmation_email=True" class="btn btn-success btn-sm">Resend</a>
                    </p>
                </div>
            {% endif %}
            <h3>Dashboard</h3>
            <hr>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Transactions according to month for year {% now 'Y' %}</h3>
                </div>
                <div class="panel-body">
                    <div id="transactions_bar_chart"></div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Expense for year {% now 'Y' %}</h3>
                </div>
                <div class="panel-body">
                    <div id="transactions_expense_pie_chart"></div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Income for year {% now 'Y' %}</h3>
                </div>
                <div class="panel-body">
                    <div id="transactions_income_pie_chart"></div>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'bower_components/highcharts/js/highcharts.js' %}"></script>
{% endblock %}

{% block extrabody %}
    <script>
        $(function () {

            // bar chart
            Highcharts.chart('transactions_bar_chart', {
                chart: {
                    type: 'column'
                },
                credits: false,
                title: {
                    text: 'Income and Expense Trend'
                },
                xAxis: {
                    categories: {{ bar_chart_categories | safe }}
                },
                yAxis: {
                    title: {
                        text: 'Currency in NPR'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:11px">{point.x}</span><br>',
                    pointFormat: '<span>{series.name}</span>: <b>Rs. {point.y:.2f}</b><br/>'
                },
                series: {{ bar_chart_series | safe}}
            });

            // expense pie chart
            Highcharts.chart('transactions_expense_pie_chart', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                credits: false,
                title: {
                    text: 'Expenses'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: 'Expenses',
                    colorByPoint: true,
                    data: {{ pie_chart_expense_series | safe }}
                }]
            });

            // income pie chart
            Highcharts.chart('transactions_income_pie_chart', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                credits: false,
                title: {
                    text: 'Incomes'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false,
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: 'Income',
                    colorByPoint: true,
                    data: {{ pie_chart_income_series | safe }}
                }]
            });
        });
    </script>
{% endblock %}

