{% extends 'base.html' %}

{% block head_title %}Daily Cost Management System{% endblock %}

{% block bodyclass %}{{ block.super }} page-main{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Daily Cost</h1>
                <p class="lead">The simplest way to manage your daily income and expense.</p>
                <a class="btn btn-success btn-lg" href="{% url 'users:register' %}">Register Now</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
