{% extends 'base.html' %}
{% load static %}

{% block head_title %}List Categories{% endblock %}

{% block bodyclass %}{{ block.super }} page-category{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <h3>List All Categories</h3>
            <hr>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ message.tags }}">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'categories:create' %}" class="btn btn-primary pull-right"><span class="fa fa-plus"></span> Add</a>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-striped">
                <thead>
                    <tr class="bg-primary">
                        <th>#</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ sn | add:forloop.counter}}</td>
                            <td><a href="{% url 'transactions:list' %}?category={{ category.name }}">{{ category.name }}</a></td>
                            <td>
                                {% if category.name != 'Uncategorized' %}
                                    <a class="btn btn-success btn-sm" href="{% url 'categories:edit' category.pk %}"><i class="fa fa-edit"></i> Edit</a>
                                    <a class="btn btn-danger btn-sm" href="{% url 'categories:delete' category.pk %}"><i class="fa fa-trash"></i> Delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="8" class="text-center bg-warning">No category</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include 'pagination_snippet.html' with rows=categories %}

</div>
{% endblock %}
